# baseOkapEndpoint = https://folio-snapshot-load-okapi.dev.folio.org/
# okapi_username = diku_admin
# okapi_password = admin
# tenant = diku

baseOkapEndpoint = CHANGEME
baseFolioUrl = CHANGEME
okapi_username = CHANGEME
okapi_password = CHANGEME
tenant = CHANGEME

permELocation = serv\,remo
fiscalYearCode = FY2021
loanType = Can circulate
textForElectronicResources = Available to Snapshot Users
noteType = General note
materialType = Book
billToDefault = LTS Acquisitions
billToApprovals = LTS Approvals
# You will probably want to change this
uploadFilePath = /tmp/
buildDir=CHANGEME
